body {
  background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 0;
  font-family: 'Catamaran', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Balsamiq Sans', cursive; }

.sectionGeneralLimited {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px; }

.sectionGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.relink {
  color: black;
  font-weight: 600;
  background: white;
  padding: 0.2vw;
  border-radius: 10px; }

.relinkcalculate {
  color: black;
  font-weight: 600;
  background: white;
  padding: 0.2vw;
  border-radius: 10px;
  font-size: 13.5px; }

.calculateContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center; }

.calculateFormulaTxT {
  display: flex;
  text-align: center;
  font-size: 18px;
  width: 400px;
  background-color: lavender;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2vh; }

.calculateFormula {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9370d8;
  border-radius: 20px;
  padding: 1vw;
  width: 60%; }

.formulaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw; }

.supNumber {
  padding-bottom: 1vw; }

.formulaDominator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.textUp {
  border-bottom: 1px solid red;
  margin: 0;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center; }

.calculateFormulaData {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lavender;
  border-radius: 20px; }

.translateInput {
  width: 400px;
  height: 60px;
  color: black; }

.translatedBinariesContainer {
  background-color: #ebedee;
  width: 50vw;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw; }

.sectionUntangled {
  padding: 10px;
  background: lightsteelblue; }

.sectionUntangledText {
  text-align: center; }

.cardContentFlexMini {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  height: 60px;
  width: 170px;
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px; }

.cardFlex {
  display: flex;
  justify-content: space-around;
  margin: 1vw;
  flex-direction: column;
  flex-wrap: wrap; }

.cardFlexNoC {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.cardGeneral {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 5px 20px;
  justify-content: center; }

.cardSvgSize {
  height: 50px; }

.cardTextSize {
  font-size: 18px;
  width: 120px;
  font-weight: 700; }

.cardLink {
  text-decoration: none; }

.navFlex, .footerFlex, .cardContentFlexMini {
  background-color: #eeeeee; }

.tableInside {
  background-color: lightgray; }

.navFlex a h2, footer a h5 {
  color: #161112; }

.sectionGeneral, .sectionUntangled, .tableBeforeValues, .tableBMIValues, .sectionGeneralLimited, .sectionTheory {
  background-color: lightsteelblue; }

.cardTextSize {
  color: #9441ad; }

.convertionSelector, .geometricExplain {
  background-color: honeydew; }

.themeTheory {
  background: lavender; }

.logoNav {
  width: 200px; }

.navFlex a {
  text-decoration: none; }

.navFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center; }

.navLinks {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.navLogo {
  width: 30%;
  margin-left: 10px; }

.navUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#name {
  width: 50px; }

.characterContainer {
  display: flex;
  justify-content: center; }

.container-character {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse; }

.characterImage {
  height: 70px;
  border-radius: 50%;
  margin-left: 2px; }

.characterName {
  font-size: 18px;
  font-weight: 700; }

.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

footer a {
  text-decoration: none; }

.tableBeforeValues {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px; }

.tableGeneral {
  display: flex;
  flex-direction: row; }

.tableInside {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  width: 200px;
  height: 50px; }

.sectionCalculatorParagraph {
  font-size: 20px; }

.sectionCalculatorTitle {
  font-size: 32px; }

.geometricSections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff8dc;
  gap: 40px;
  margin: 20px; }

.staticFigure {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-top: 10px; }

.square {
  width: 100px;
  height: 100px;
  background-color: #302840; }

.rectangle {
  width: 100px;
  height: 50px;
  background-color: #302840; }

.triangle {
  width: 0px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #302840; }

.circle {
  border-radius: 50%;
  background-color: #302840;
  width: 100px;
  height: 100px; }

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9370d8;
  border-radius: 20px;
  padding: 5px;
  width: 220px; }

.calculateBtn {
  width: 75px;
  height: 37.5px;
  border-radius: 5px;
  background-color: mintcream;
  margin-top: 2px; }

.inputGeometric {
  width: 50px; }

.inputsFigure {
  display: flex; }

.geometricExplain {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 20px; }

.txtExplain {
  font-weight: 700;
  color: red;
  font-size: 24px; }

.geometricLinear {
  display: flex;
  flex-direction: row;
  gap: 40px; }

.geometricFormulaTxT {
  text-align: center;
  font-size: 18px;
  width: 230px;
  background-color: darkgrey;
  border-radius: 20px; }

.formulaExplain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0; }

.temperatureFormulaTxT {
  text-align: center;
  font-size: 18px;
  width: 320px;
  background-color: darkgrey;
  border-radius: 20px; }

.convertionsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9370d8;
  border-radius: 20px;
  padding: 5px;
  width: 1030px;
  margin-bottom: 20px; }

.convertionGet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  gap: 5px; }

.convertionInput {
  width: 250px;
  height: 20px;
  color: black; }

.convertionSelector {
  width: 100px;
  height: 30px; }

.convertionTitle {
  font-size: 30px; }

.tableBMI {
  display: flex; }

.tableBMIValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; }

.tableBMIValues div {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 15vw;
  height: 5vw;
  align-items: center; }

.plussubs {
  line-height: 0.5; }

.imageTheory {
  width: 22vw;
  border: 1px solid black; }

.themeTheory {
  display: flex;
  align-items: center;
  width: 35vw;
  height: 32vw;
  flex-direction: column;
  border-radius: 1vw;
  padding: 2vw; }

.sectionTheory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 2vw;
  flex-wrap: wrap; }
