.sectionCalculator{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    width: 200px;
    height: 50px;
}
.sectionCalculatorParagraph{
    font-size: 20px;
}
.sectionCalculatorTitle{
    font-size: 32px;
}