.sectionCalculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.tableBeforeValues{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.tableGeneral{
    display: flex;
    flex-direction: row;
}
.tableInside{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 200px;
    height: 50px;
}
.sectionCalculatorParagraph{
    font-size: 20px;
}
.sectionCalculatorTitle{
    font-size: 32px;
}