$colorbase: #eeeeee;
$titulos: #ff0000;
$titulos2: #161112;
$cards: #9441ad;
$bg2: lightsteelblue;


.navFlex{
    background-color: $colorbase;
}
.navFlex a h2{
    color: $titulos2;
}
.sectionCalculator{
    background-color: $bg2;
}
.tableBeforeValues{
    background-color: $bg2;
}
.footerFlex{
    background-color: $colorbase;
}
.cardTextSize{
    color: $cards;
}