$colorbase: #eeeeee;
$titulos: #ff0000;
$titulos2: #161112;
$cards: #9441ad;
$bg2: lightsteelblue;
$bgT: lightgray;
$base: honeydew;


.navFlex, .footerFlex, .cardContentFlexMini{
    background-color: $colorbase;
}
.tableInside{
    background-color:$bgT;
}
.navFlex a h2{
    color: $titulos2;
}
.sectionGeneral, .sectionUntangled, .tableBeforeValues, .tableBMIValues, .sectionGeneralLimited{
    background-color: $bg2;
}
.cardTextSize{
    color: $cards;
}
.convertionSelector,.geometricExplain{
    background-color: $base;
}