$colorbase: #eeeeee;
$titulos: #ff0000;
$titulos2: #161112;
$bg2: #888787;


.navFlex{
    background-color: $colorbase;
}
.navFlex a h2{
    color: $titulos2;
}
.sectionCalculator{
    background-color: $bg2;
}
.footerFlex{
    background-color: $colorbase;
}
