.geometricSections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff8dc;
    gap: 40px;
    margin: 20px;
}
.staticFigure{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 10px;
}
.square{
    width: 100px; 
    height: 100px; 
    background-color: #302840;
}
.rectangle{
    width: 100px;
    height: 50px;
    background-color: #302840;
}
.triangle {
    width: 0px; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #302840;
}
.circle{
    border-radius: 50%;
    background-color: #302840;
    width: 100px;
    height: 100px;
}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9370d8;
    border-radius: 20px;
    padding: 5px;
    width: 220px;
}
.calculateBtn{
    width: 75px;
    height: 37.5px;
    border-radius: 5px;
    background-color: mintcream;
    margin-top: 2px;
}
.inputGeometric{
    width: 50px;
}
.inputsFigure{
    display: flex;
}
.geometricExplain{
    padding: 20px;
    border-radius: 5px;
    background-color: #fff8dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 20px;
}
.txtExplain{
    font-weight: 700;
    color: red;
    font-size: 24px;
}
.geometricLinear{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.geometricFormulaTxT{
    text-align: center;
    font-size: 18px;
    width: 230px;
    background-color: darkgrey;
    border-radius: 20px;
}
.textUp{
    border-bottom: 1px solid red;
    margin: 0;
}
.formulaExplain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}