.imageTheory{
    width: 22vw;
    border: 1px solid black;
}
.themeTheory{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 32vw;
    flex-direction: column;
    border-radius: 1vw;
    padding: 2vw;
}
.sectionTheory{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw;
    flex-wrap: wrap;
}
